**/__pycache__
**/*.pyc
**/.venv
**/.env
**/.git
**/.idea
**/.vscode
**/node_modules
**/build
**/dist
**/coverage
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
server/.env
server/.venv
public/node_modules
public/build
public/dist
*.log
